body {
	margin: 0;
	padding: 1em 3em;
	font-family: sans-serif;
	line-height: 1.4;
}

/* Scaffold */

h1 {
	margin: 0.5em 0;
	font-size: 1.4em;
}

h2 {
	font-size: 1.3em;
}

#startup-loading {
	position: absolute;
	top: 2em;
	right: 3em;
}

#page-container {
	border: 1px solid #ccc;
	float: left;
	width: 100%;
}

#content-container {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 2em;
}

#content-container {
	border-style: none solid;
	border-color: #ccc;
	border-width: 1px;
}

.loading, .fallback {
	display: none;
}

/* Posts view */

#posts ol {
	margin-left: 0;
	padding-left: 0;
}

.post {
	border-top: 1px solid gray;
	margin: 0;
	padding: 1em;
	list-style-type: none;
}

.post:first-child {
	border-top: 0 none;
}

.post p {
	margin: 0 5px 0 75px;
}

.post img {
	float: left;
}

.post .screen-name {
	font-style: italic;
}

.post .text {
	font-size: 1.3em;
}

.post .date {
}